body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0em;
  margin: 0em;
  background-color: #202020;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-image: radial-gradient(var(--clr-SecondaryAccent) 1px, transparent 1px), radial-gradient(var(--clr-SecondaryAccent) 1px, var(--clr-SecondaryBG) 1px);
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
}

canvas {
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 5px 5px;
}

.NBLinks > a {
  color: var(--CLR_LINK);
  text-decoration: none;
  text-align: center;
  font-weight: var(--FWEIGHT-LINK);
  transition: 0.5s ease-in-out color;
  margin: 0em 1em;
}

.NBLinks > a:hover {
  color: var(--CLR_LINKHOVER);
  transition: 0.5s ease-in-out color;
}

.notFlappyBird_NavigationBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: transparent;
  width: 726px;
  height: 2em;
}

.CreatedBy_SubText {
  justify-content: flex-end;
  background-color: transparent;
  margin-left: auto;
  font-weight: 600;
  font-size: 1em;
  padding: 0 1em;
  color: white
}
